{% extends 'web/layout/basic.html' %}
{% load static %}
{% block title %} Login with Username {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/account.css' %}">
{% endblock %}

{% block content %}
    <div class="account">
        <div class="title"> Login with Username </div>
        <form id="formModal" novalidate method="post">
        {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>

                        <div class="clearfix">
                            <div class="col-xs-7" style="padding-left: 0">{{ field }}
                                <span class="error-msg">{{ field.errors }}</span>
                            </div>

                            <div class="col-xs-4" style="padding-left: 0">
                                <img src="{% url 'image_code' %}">
                            </div>
                        </div>


                    </div>

                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {{ field.errors }}
                        <span class="error-msg" style="color: red; position: absolute"></span>
                    </div>
                {% endif %}
            {% endfor %}
            <input id="btnSub" type="submit" name="User" class="btn btn-primary" value="Log in"/>
        </form>

    </div>

{% endblock %}

{% block js %}

{% endblock %}