{% extends 'web/layout/basic.html' %}
{% load static %}
{% block title %} Login with Password {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'web/css/account.css' %}">
{% endblock %}

{% block content %}
    <div class="account">
        <div class="title"> Login with Password </div>
        <form id="formModal" novalidate method="post">
        {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'code' %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>

                        <div class="clearfix">
                            <div class="col-xs-7" style="padding-left: 0">{{ field }}
                                <span class="error-msg" >{{ field.errors.0 }}</span>
                            </div>

                            <div class="col-xs-4" style="padding-left: 0">
                                <img src="{% url 'image_code' %}" id="imageCode" title="Click to change photo">
                            </div>
                        </div>


                    </div>

                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="error-msg" style="color: red; position: absolute">{{ field.errors.0 }}</span>
                    </div>
                {% endif %}
            {% endfor %}
        <div class="checkbox">
            <div style="float: right">
                <a href="{% url 'login_sms' %}">Login with SMS verification code</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <input id="btnSub" type="submit" name="User" class="btn btn-primary" value="Log in"/>
            </div>
        </div>

        </form>

    </div>

{% endblock %}

{% block js %}
    <script>
    $(function(){
        $('#imageCode').click(function(){
            var oldsrc = $(this).attr('src');
            $(this).attr('src',oldsrc+"?");
        })
    })
    </script>

{% endblock %}