{% extends 'web/layout/manage.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'web/plugin/daterangepicker/daterangepicker.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid" style="margin-top: 20px;">
        <div>
            <div class="input-group" style="width: 300px;">
                <span class="input-group-addon">Date Range</span>
                <input id="rangePicker" type="text" class="form-control">
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i> Working Progress
                    </div>
                    <div class="panel-body">
                        <div id="projectUser" style="height: 300px;"></div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i> Priority statistics
                    </div>
                    <div class="panel-body">
                        <div id="priority" style="height: 300px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script src="{% static 'web/plugin/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'web/plugin/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'web/plugin/highcharts/highcharts.js' %}"></script>

    <script>

        var PRIORITY_API = "{% url 'statistics_priority' project_id=request.tracer.project.id %}";
        var PROJECT_USER_API = "{% url 'statistics_project_user' project_id=request.tracer.project.id %}";
        $(function () {
            initDateRangePicker();

            priority(moment().format('YYYY-MM-DD'), moment().add(1, 'days').format('YYYY-MM-DD'));
            projectUser(moment().format('YYYY-MM-DD'), moment().add(1, 'days').format('YYYY-MM-DD'));
        });

        function initDateRangePicker() {
            var options = {
                maxDate: moment(),
                alwaysShowCalendars: true,
                showWeekNumbers: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Recent 10 days': [moment().subtract(6, 'days'), moment()],
                    'Recent 30 days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')]
                },
                locale: {
                    format: 'YYYY-MM-DD',
                    separator: ' to ',
                    applyLabel: 'Apply',
                    cancelLabel: 'Cancel',
                    fromLabel: 'From',
                    toLabel: 'to',
                    customRangeLabel: 'customize',
                    weekLabel: 'W',
                    daysOfWeek: ['Mon', 'Tue', 'Wed', 'Thr', 'Fri', 'Sat', 'Sun'],
                    monthNames: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                    firstDay: 1
                }
            };

            $('#rangePicker').daterangepicker(options, function (start, end, label) {
                // 选择了时间之后，函数自动被触发。
                priority(start.format('YYYY-MM-DD'), end.add(1, 'days').format('YYYY-MM-DD'));
                projectUser(start.format('YYYY-MM-DD'), end.add(1, 'days').format('YYYY-MM-DD'));
            });
        }

        function priority(start, end) {
            var config = {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: null
                },
                credits: {
                    enabled: false // 关闭版权信息
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    name: 'Priority',
                    colorByPoint: true,
                    data: []
                }]
            };
            $.ajax({
                url: PRIORITY_API,
                type: "GET",
                data: {start: start, end: end},
                dataType: "JSON",
                success: function (res) {
                    config.series[0].data = res.data;
                    Highcharts.chart('priority', config);

                }
            })
        }

        function projectUser(start, end) {
            var config = {
                chart: {
                    type: 'column'
                },
                title: {
                    text: null
                },
                credits: {
                    enabled: false // 关闭版权信息
                },
                xAxis: {
                    categories: ['A', 'B', 'C']
                },

                yAxis: {
                    min: 0,
                    title: {
                        text: 'Issue Count'
                    },
                    stackLabels: {  // 堆叠数据标签
                        enabled: true,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }
                },
                legend: {
                    align: 'center',
                    verticalAlign: 'top'

                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.x + '</b><br/>' +
                            this.series.name + ': ' + this.y + '<br/>' +
                            'Total: ' + this.point.stackTotal;
                    }
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: false
                        }
                    }
                },
                series: [{
                    name: 'New',
                    data: [5, 3, 4]
                }, {
                    name: 'Processing',
                    data: [2, 2, 3]
                }]
            };
            // Highcharts.chart('projectUser', config);
            $.ajax({
                url: PROJECT_USER_API,
                type: "GET",
                data: {start: start, end: end},
                dataType: "JSON",
                success: function (res) {
                    config.xAxis.categories = res.data.categories;
                    config.series = res.data.series;
                    Highcharts.chart('projectUser', config);

                }
            })
        }
    </script>
{% endblock %}